img.handcards{
width:8.5%;
height:auto;
}
img.boardcards{
width:8.5%;
height:auto;
}
img.carddetail{
width:auto;
height:70%;
text-align:center;
margin-top:0px;
margin-bottom:0px;
padding:0px;
}

#menu {
    display: none;
    position: absolute;
    padding: 10px;
    background-color: #ddd;
    border: 1px solid #000;
}